*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Mulish", sans-serif;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img {
    max-width: 100%;
    display: block;
  }

/* MENU BURGER INTERFACE UI*/

.menu_burger {
    background-color: #c4c4c4;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
  }
  .menu_burger.isOpen {
    transform: translateX(0%);
  }
  .menu_burger #recherche {
    margin-top: 30px;
    height: 70px;
    min-width: 80%;
    border-style: 1px solid black;
    outline-style: none;
  }
  .menu_burger #recherche::-webkit-search-cancel-button {
    display: none;
  }
  .menu_burger input {
      padding-left: 18px;
      font-size: 24px;
    }
  .menu_burger .list {
    flex-direction: column;
  }
  .menu_burger .list a {
    margin-top: 50px;
  }
  .menu_burger .panier-burger {
    text-align: center;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 30px;
    border: 2px solid black;
    padding: 20px;
  }
  .menu_burger .titre-burger {
    margin-top: 50px;
    text-align: center;
  }
  .titre-burger img {
    position: absolute;
  }
  .titre-burger h1 {
    position: relative;
    top: 20px;
    font-size: clamp(20px, 3em, 50px);
    margin-bottom: 30px;
    color: white;
  }
  .titre-burger p {
    position: relative;
    color: white;
    font-size: 25px;
    font-style: italic;
    padding-top: 20px;
  }

  /* MENU BURGER */

.burger {
    width: 42px;
    height: 24px;
    z-index: 99999;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 30px;
    display: none;
  }
  
  .burger span {
    background-color: black;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before,
  .burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
  }
  
  .burger span::before {
    transform: translateY(-10px);
  }
  
  .burger span::after {
    transform: translateY(10px);
  }
  
  .burger.isOpen span {
    background-color: transparent;
  }
  .burger.isOpen span::before {
    transform: translateY(0px) rotateZ(45deg);
  }
  .burger.isOpen span::after {
    transform: translateY(0px) rotateZ(-45deg);
  }
  .list a {
    margin-top: 130px;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
    color: black;
  }

/* NAVIGATION / HEADER */

header {
    position: relative;
    height: 40vh;
}

nav {
    margin-top: 45px;
    width: 100%;
}
nav #recherche {
    height: 70px;
    min-width: 550px;
    border-style: 1px solid black;
    outline-style: none;
}
nav #recherche:hover {
    border: 1px solid black;
}
nav #recherche::-webkit-search-cancel-button {
    display: none;
}
header input {
    padding-left: 18px;
    font-size: 24px;
}
nav .search {
    height: 70px;
    width: 85px;
    border-style: none;
    background-color: black;
    color: white;
    outline-style: none;
}
nav .search:hover {
    cursor: pointer;
}
nav .panier {
    height: 90px;
    width: 100px;
    background-color: white;
    border-style: none;
    outline-style: none;
} 
nav .panier:hover {
    cursor: pointer;
} 
nav .fas {
    font-size: 50px;
}
.titre-mobile {
    display: none;
  }

/* POLO / PRIX / PANIER */

.tete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 150px;
}
.detail{
    gap: 35px;
    width: 480px;
    height: 759px;
   display: flex;
   flex-direction: column;

}
.ecriture{
    font-size: 30px;
}
.ecriture span {
    color: #1860A7;
    text-decoration: underline;
}
.EV {
    font-size: 25px;
}
.prix{
    font-size: 48px;
    color: #D51818;
    font-weight: 700;
}

.bandeau{
    border:black 1px solid;
    height: 200px;
    width: 250px;
    align-self: center;
    font-size: 24px;
    font-weight: 700;
}


.bandeau-noir{
    background: black;
    height: 350px;
    width: 100%;
    align-self: center;
    justify-content: center;
    font-size: 36px;
    margin-top: 20px;}
    .bandeau-noir p{
        color: white ;
    }


.bandeau-gris{
    background:#E5E5E5;
    border: 6px solid #E5E5E5;
    height: auto;
    width: 100%;
    align-self: center;
    font-size: 36px;
    margin-top: 20px;
}
.bandeau-gris p{
    color:black ;
}

/* PRODUITS QUI POURRAIENT VOUS INTERESSER */

.cat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.desc-v {
    position: relative;
    padding: 5px;
    margin-top: 25px;
    width: 306px;
    height: 200px;
    background: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.desc-v p {
    position: absolute;
}

.desc-v .rouge {
    bottom: 0;
    color: #D51818;
    font-weight: 700;
}

/* PIED DE PAGE */

.sec6 {
    background-color: #c4c4c4;
    justify-content: space-between;
  }
  
  .sec6 .logos {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    height: 300px;
  }
  
  .sec6 .l1 {
    margin-left: 50px;
  }
  
  .sec6 .l3 {
    margin-right: 50px;
  }
  
  .paie {
    gap: 60px;
  }
  
  .paie2 {
    gap: 160px;
  }
  
  .fa-lock {
    font-size: 70px;
  }

  .titre3 {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
  }

/* MEDIA QUERIES */

@media (max-width: 1110px) {
    .EV {
        font-size: 18px;
    }
    .prix {
        font-size: 35px;
    }
    .bandeau {
        height: 60px;
        width: 150px;
        font-size: 16px;
    }
    .bandeau-noir {
        height: 100px;
        width: 70%;
        font-size: 24px;
    }
    .bandeau-gris {
        height: auto;
        width: 70%;
        font-size: 24px;
    }
}
    
    

@media (max-width: 900px) {
    .tete {
        flex-direction: column;
    }
    .detail {
        width: 100%;
    }
    .ecriture {
        margin-top: 50px;
    }
    .ecriture, .prix {
        align-self: center;
    }

    /* SECTION 1 */
header {
    height: 20vh;
}
header .list {
    display: none;
}
.titre-mobile {
    display: block;
}
.burger {
    display: block;
}
nav {
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
}
nav .logo {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 120px;
}
nav #recherche {
      display: none;
    }
nav .search {
    display: none;
}
nav .panier {
    display: none;
}
.titre-mobile {
    display: block;
  }
  /* SECTION 6 */

  .sec6 {
    flex-direction: column;
    gap: 50px;
  }
  .sec6 .paie {
    width: 100%;
  }
  .sec6 .paie img {
    width: 50px;
  }
  .sec6 .l2 i {
    font-size: 50px;
  }
  .sec6 .l2 img {
    width: 60px;
  }
  .sec6 .l3 img {
    width: 45px;
  }
}

@media (max-width: 550px) {
    header .logo {
      display: none;
    }
    .titre3 {
        font-size: 32px;
    }
  }